In [1]:
import pandas as pd
import os

os.chdir('..')

In [92]:
df = pd.read_csv("Data/prompt_experiments_explainations/llm_results_final_prompt_006.csv")

In [93]:
df.iloc[0]['Input']

"{'post_id': '1181224026519359490_twitter', 'tweet_text': 'team name washington warhogs team colors red white and blue team location washington dc team president anybody but bruce allen', 'key_features': '[]', 'target': nan, 'label': 'normal'}"

In [94]:
df.head()

,Row Number,Model,Prompt Name,Input,Response,Time Taken (s)
0,121,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1181224026519359490_twitter', 'tw...","Based on the available data, this tweet appear...",21.82
1,121,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_prompt,"{'post_id': '1181224026519359490_twitter', 'tw...",The tweet has been labeled as normal because i...,14.56
2,121,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1181224026519359490_twitter', 'tw...",The text appears to be a harmless suggestion f...,20.67
3,122,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1083159533848023041_twitter', 'tw...",This tweet falls into the normal category beca...,15.31
4,122,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1083159533848023041_twitter', 'tw...","The classification of this text as ""normal"" is...",25.57

In [95]:
df['Prompt Name'].value_counts()

Prompt Name
zero_shot_prompt       500
few_shot_prompt        500
few_shot_CoT_prompt    500
Name: count, dtype: int64

In [96]:

# # Create the three new columns based on 'Prompt Name'
# df_pivoted = df.pivot(index='Row Number', columns='Prompt Name', values='Response')

# # Join pivoted DataFrame back to original to preserve other columns
# df = df.set_index('Row Number').join(df_pivoted).reset_index()

# df.head()

In [97]:
# import re

# # Extract 'tweet_text' from 'Input' column and store it in 'tweet_text' column
# df['tweet_text'] = df['Input'].apply(lambda x: re.search(r"'tweet_text': '(.*?)', 'key_features':", x).group(1))

# print(df[['Row Number', 'tweet_text']])

In [98]:
import pandas as pd


# Check for missing values in each column
missing_values = df.isna().sum()

# Reshape dataframe to have separate columns for each 'Prompt Name'
pivoted_df = df.pivot_table(index='Row Number', columns='Prompt Name', values='Response', aggfunc='first')

# Rename columns to match the desired ones
pivoted_df.columns = ['zero_shot_prompt', 'few_shot_prompt', 'few_shot_CoT_prompt']

# If you want to merge this back into the original dataframe, use:
df = df[['Row Number', 'Input']].drop_duplicates().set_index('Row Number').join(pivoted_df)

In [99]:
df

,Input,zero_shot_prompt,few_shot_prompt,few_shot_CoT_prompt
Row Number,,,,
121,"{'post_id': '1181224026519359490_twitter', 'tw...",The text appears to be a harmless suggestion f...,The tweet has been labeled as normal because i...,"Based on the available data, this tweet appear..."
122,"{'post_id': '1083159533848023041_twitter', 'tw...","The classification of this text as ""normal"" is...",This tweet has been labeled as normal because ...,This tweet falls into the normal category beca...
123,"{'post_id': '1091106800408190976_twitter', 'tw...","**Offensive**:\n- tweet_text: ""tfw jews want t...",This statement is labeled offensive because it...,"The text you provided falls into the ""offensiv..."
124,"{'post_id': '15801100_gab', 'tweet_text': 'mic...",**Hate Speech**\n\nThe tweet contains a highly...,This statement is classified as hate speech be...,The tweet text falls into the category of hate...
125,"{'post_id': '1177985601628442630_twitter', 'tw...",This tweet falls into the **Offensive** catego...,Explanation: The tweet has been labeled normal...,"The text ""im wearing white pants and i look li..."
...,...,...,...,...
616,"{'post_id': '1163281024706633728_twitter', 'tw...",The text is classified as normal due to its ca...,The tweet has been labeled normal because the ...,"Based on the given information, this tweet fal..."
617,"{'post_id': '1181254867228250112_twitter', 'tw...",This tweet is classified as hate speech due to...,Explanation: This tweet has been labeled as no...,It appears that this tweet has been classified...
618,"{'post_id': '1177368240605007872_twitter', 'tw...",The text is classified as normal due to its de...,The tweet has been labeled normal because it s...,"This tweet falls into the ""Normal"" category be..."
619,"{'post_id': '1103453694735966213_twitter', 'tw...",Based on the given text:\n\n1. **Normal**: The...,Explanation: This tweet has been labeled as no...,"Based on the available data, this tweet appear..."
620,"{'post_id': '1109322805299027968_twitter', 'tw...",This text falls into the hate speech category ...,The text you provided has been categorized as ...,"Based on the given tweet text, it appears to f..."

In [100]:
import re

# Define the pattern to extract tweet_text
pattern = r"'tweet_text': '(.*?)', 'key_features':"

# Extract tweet_text and save it in a new column
df['tweet_text'] = df['Input'].apply(lambda x: re.search(pattern, x).group(1) if re.search(pattern, x) else None)

In [101]:
df

,Input,zero_shot_prompt,few_shot_prompt,few_shot_CoT_prompt,tweet_text
Row Number,,,,,
121,"{'post_id': '1181224026519359490_twitter', 'tw...",The text appears to be a harmless suggestion f...,The tweet has been labeled as normal because i...,"Based on the available data, this tweet appear...",team name washington warhogs team colors red w...
122,"{'post_id': '1083159533848023041_twitter', 'tw...","The classification of this text as ""normal"" is...",This tweet has been labeled as normal because ...,This tweet falls into the normal category beca...,the same niggas that be flexing jewelry be the...
123,"{'post_id': '1091106800408190976_twitter', 'tw...","**Offensive**:\n- tweet_text: ""tfw jews want t...",This statement is labeled offensive because it...,"The text you provided falls into the ""offensiv...",tfw jews want to ban p*rn <censored> tfw now i...
124,"{'post_id': '15801100_gab', 'tweet_text': 'mic...",**Hate Speech**\n\nThe tweet contains a highly...,This statement is classified as hate speech be...,The tweet text falls into the category of hate...,microchip has had more nigger cocks in him tha...
125,"{'post_id': '1177985601628442630_twitter', 'tw...",This tweet falls into the **Offensive** catego...,Explanation: The tweet has been labeled normal...,"The text ""im wearing white pants and i look li...",im wearing white pants and i look like a faggot
...,...,...,...,...,...
616,"{'post_id': '1163281024706633728_twitter', 'tw...",The text is classified as normal due to its ca...,The tweet has been labeled normal because the ...,"Based on the given information, this tweet fal...",<user> <user> can not relate tho lmao i am not...
617,"{'post_id': '1181254867228250112_twitter', 'tw...",This tweet is classified as hate speech due to...,Explanation: This tweet has been labeled as no...,It appears that this tweet has been classified...,weed guys the most emotional niggas ever
618,"{'post_id': '1177368240605007872_twitter', 'tw...",The text is classified as normal due to its de...,The tweet has been labeled normal because it s...,"This tweet falls into the ""Normal"" category be...",the elders of monroe are swarming the streets ...
619,"{'post_id': '1103453694735966213_twitter', 'tw...",Based on the given text:\n\n1. **Normal**: The...,Explanation: This tweet has been labeled as no...,"Based on the available data, this tweet appear...",shout out to ol jews and ol rules
620,"{'post_id': '1109322805299027968_twitter', 'tw...",This text falls into the hate speech category ...,The text you provided has been categorized as ...,"Based on the given tweet text, it appears to f...",cause it a grimy world and niggas bout shit

In [102]:
df.to_csv("LimeSurvey/LimeSurvey_data_pivoted.csv")

In [103]:
# Calculate the total length of responses for each row
df['total_len'] = df['zero_shot_prompt'].apply(len) + df['few_shot_prompt'].apply(len) + df['few_shot_CoT_prompt'].apply(len)

# Sort the DataFrame by the total length in descending order
df_sorted = df.sort_values(by='total_len', ascending=True)

In [105]:
df_sorted.to_csv("LimeSurvey/LimeSurvey_data_pivoted_sorted.csv")

In [53]:
# Step 1: Create new columns for each 'Prompt Name' and store the corresponding 'Response'
df_wide = df.pivot(index='Row Number', columns='Prompt Name', values='Response').reset_index()

# # Step 2: Extract 'tweet_text' from the 'Input' column
# import ast

# def extract_tweet_text(input_str):
#     try:
#         input_dict = ast.literal_eval(input_str)
#         print(input_dict)
#         return input_dict.get('tweet_text', None)
#     except (ValueError, SyntaxError):
#         return None

# df['tweet_text'] = df['Input']# .apply(extract_tweet_text)

import re

# Regular expression pattern to extract the 'tweet_text' value
pattern = r"'tweet_text': '(.*?)', 'key_features':"

# Function to extract tweet_text from the row
def extract_tweet_text_from_row(row):
    match = re.search(pattern, row)
    if match:
        return match.group(1)  # Return the extracted tweet_text
    else:
        print(f"Error parsing row: {row}")
        return None

# Assuming you are applying this function to a column in a dataframe
df['tweet_text'] = df['Input'].apply(extract_tweet_text_from_row)

# Merging the extracted tweet_text with the reshaped DataFrame
df_final = pd.merge(df_wide, df[['Row Number', 'tweet_text']].drop_duplicates(), on='Row Number')

In [54]:
df_final

,Row Number,few_shot_CoT_prompt,few_shot_prompt,zero_shot_prompt,tweet_text
0,121,The text appears to be a harmless suggestion f...,The tweet has been labeled as normal because i...,"Based on the available data, this tweet appear...",team name washington warhogs team colors red w...
1,122,"The classification of this text as ""normal"" is...",This tweet has been labeled as normal because ...,This tweet falls into the normal category beca...,the same niggas that be flexing jewelry be the...
2,123,"**Offensive**:\n- tweet_text: ""tfw jews want t...",This statement is labeled offensive because it...,"The text you provided falls into the ""offensiv...",tfw jews want to ban p*rn <censored> tfw now i...
3,124,**Hate Speech**\n\nThe tweet contains a highly...,This statement is classified as hate speech be...,The tweet text falls into the category of hate...,microchip has had more nigger cocks in him tha...
4,125,This tweet falls into the **Offensive** catego...,Explanation: The tweet has been labeled normal...,"The text ""im wearing white pants and i look li...",im wearing white pants and i look like a faggot
...,...,...,...,...,...
495,616,The text is classified as normal due to its ca...,The tweet has been labeled normal because the ...,"Based on the given information, this tweet fal...",<user> <user> can not relate tho lmao i am not...
496,617,This tweet is classified as hate speech due to...,Explanation: This tweet has been labeled as no...,It appears that this tweet has been classified...,weed guys the most emotional niggas ever
497,618,The text is classified as normal due to its de...,The tweet has been labeled normal because it s...,"This tweet falls into the ""Normal"" category be...",the elders of monroe are swarming the streets ...
498,619,Based on the given text:\n\n1. **Normal**: The...,Explanation: This tweet has been labeled as no...,"Based on the available data, this tweet appear...",shout out to ol jews and ol rules
499,620,This text falls into the hate speech category ...,The text you provided has been categorized as ...,"Based on the given tweet text, it appears to f...",cause it a grimy world and niggas bout shit

In [ ]:
df_final['tweet_text'] = df_final['tweet_text'].apply(extract_tweet_text)

In [51]:
import re

# Regular expression pattern to extract the 'tweet_text' value
pattern = r"'tweet_text': '(.*?)', 'key_features':"

# Function to extract tweet_text from the row
def extract_tweet_text_from_row(row):
    match = re.search(pattern, row)
    if match:
        return match.group(1)  # Return the extracted tweet_text
    else:
        print(f"Error parsing row: {row}")
        return None

# Assuming you are applying this function to a column in a dataframe
df['tweet_text'] = df['Input'].apply(extract_tweet_text_from_row)

# Check rows where 'tweet_text' is still missing
missing_tweet_text_rows = df[df['tweet_text'].isnull()]
print(f"Rows with missing tweet_text: {missing_tweet_text_rows}")

Rows with missing tweet_text: Empty DataFrame
Columns: [Row Number, Model, Prompt Name, Input, Response, Time Taken (s), tweet_text]
Index: []

In [52]:
df

,Row Number,Model,Prompt Name,Input,Response,Time Taken (s),tweet_text
0,121,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1181224026519359490_twitter', 'tw...","Based on the available data, this tweet appear...",21.82,team name washington warhogs team colors red w...
1,121,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_prompt,"{'post_id': '1181224026519359490_twitter', 'tw...",The tweet has been labeled as normal because i...,14.56,team name washington warhogs team colors red w...
2,121,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1181224026519359490_twitter', 'tw...",The text appears to be a harmless suggestion f...,20.67,team name washington warhogs team colors red w...
3,122,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1083159533848023041_twitter', 'tw...",This tweet falls into the normal category beca...,15.31,the same niggas that be flexing jewelry be the...
4,122,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1083159533848023041_twitter', 'tw...","The classification of this text as ""normal"" is...",25.57,the same niggas that be flexing jewelry be the...
...,...,...,...,...,...,...,...
1495,619,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1103453694735966213_twitter', 'tw...","Based on the available data, this tweet appear...",16.94,shout out to ol jews and ol rules
1496,619,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1103453694735966213_twitter', 'tw...",Based on the given text:\n\n1. **Normal**: The...,14.73,shout out to ol jews and ol rules
1497,620,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_prompt,"{'post_id': '1109322805299027968_twitter', 'tw...",The text you provided has been categorized as ...,18.35,cause it a grimy world and niggas bout shit
1498,620,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1109322805299027968_twitter', 'tw...","Based on the given tweet text, it appears to f...",24.40,cause it a grimy world and niggas bout shit
1499,620,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1109322805299027968_twitter', 'tw...",This text falls into the hate speech category ...,17.56,cause it a grimy world and niggas bout shit

In [46]:
import pandas as pd
import ast
import json

# Step 1: Pivot the DataFrame to create separate columns for each 'Prompt Name'
df_wide = df.pivot(index='Row Number', columns='Prompt Name', values='Response').reset_index()

# Step 2: Extract 'tweet_text' from the 'Input' column
def extract_tweet_text(input_str):
    try:
        # Fix any list-like string formatting in 'key_features'
        input_str = input_str.replace("'", '"')  # Normalize single quotes to double quotes
        input_str = input_str.replace('[', '[').replace(']', ']')  # Ensure proper list formatting
        key_features_str = key_features_str.replace("'", '"')

        # Safely parse the string into a Python dictionary
        input_dict = ast.literal_eval(input_str)

        return input_dict.get('tweet_text', None)
    except (ValueError, SyntaxError, json.JSONDecodeError):
        # Fallback: Try parsing with json.loads
        try:
            input_dict = json.loads(input_str)
            return input_dict.get('tweet_text', None)
        except json.JSONDecodeError:
            print(f"Error parsing row: {input_str}")
            return None

# Ensure consistent quotes before parsing
df['Input'] = df['Input'].str.replace('"', "'", regex=False)

# Apply the function to extract 'tweet_text'
df['tweet_text'] = df['Input'].apply(extract_tweet_text)

# Step 3: Merge the reshaped DataFrame with the extracted 'tweet_text'
df_final = pd.merge(
    df_wide,
    df[['Row Number', 'tweet_text']].drop_duplicates(),
    on='Row Number',
    how='left'  # Ensure no rows are dropped
)

# Debug any rows where 'tweet_text' is missing
missing_tweet_text_rows = df_final[df_final['tweet_text'].isnull()]
print("Rows with missing 'tweet_text':", missing_tweet_text_rows)

UnboundLocalError: cannot access local variable 'key_features_str' where it is not associated with a value

In [47]:
import pandas as pd
import ast

# Step 1: Normalize and safely parse the 'key_features' column
def parse_key_features(key_features_str):
    try:
        # Fix any list-like string formatting, convert it to proper list
        key_features_str = key_features_str.replace("'", '"')  # Normalize quotes
        key_features_list = ast.literal_eval(key_features_str)  # Safely parse as a list
        return key_features_list
    except (ValueError, SyntaxError, TypeError):
        print(f"Error parsing key_features: {key_features_str}")
        return []

# Step 2: Parse the input column correctly
def extract_tweet_text(input_str):
    try:
        # Replace single quotes with double quotes and parse the input string
        input_dict = ast.literal_eval(input_str.replace("'", '"'))
        return input_dict.get('tweet_text', None)
    except (ValueError, SyntaxError, TypeError):
        print(f"Error parsing row: {input_str}")
        return None

# Assuming your dataframe is called `df`
df['key_features'] = df['key_features'].apply(parse_key_features)

# Step 3: Apply the function to extract 'tweet_text' from the 'Input' column
df['tweet_text'] = df['Input'].apply(extract_tweet_text)

# Check any rows where 'tweet_text' is still missing
missing_tweet_text_rows = df[df['tweet_text'].isnull()]
print(f"Rows with missing tweet_text: {missing_tweet_text_rows}")

KeyError: 'key_features'