In [1]:
import pandas as pd
import os

os.chdir('..')

In [6]:
df = pd.read_csv("Data/prompt_experiments_explainations/llm_results_final_prompt_007.csv")

In [7]:
df.iloc[0]['Input']

'{\'post_id\': \'1179074562870386688_twitter\', \'tweet_text\': \'this fat faggot id such a child grow up porky\', \'key_features\': "[\'fat\', \'faggot\']", \'target\': \'Homosexual, Nonreligious, Other\', \'label\': \'hatespeech\'}'

In [9]:
df.head()

,Row Number,Model,Prompt Name,Input,Response,Time Taken (s)
0,621,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1179074562870386688_twitter', 'tw...",The text you provided falls into the category ...,33.54
1,621,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_prompt,"{'post_id': '1179074562870386688_twitter', 'tw...",This statement is classified as hate speech be...,18.62
2,621,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1179074562870386688_twitter', 'tw...",The text is labeled as hate speech due to the ...,14.42
3,622,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_prompt,"{'post_id': '16535198_gab', 'tweet_text': 'let...",The tweet you wrote has been classified as hat...,22.88
4,622,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '16535198_gab', 'tweet_text': 'let...",The text is classified as hate speech due to i...,16.94

In [10]:
df['Prompt Name'].value_counts()

Prompt Name
zero_shot_prompt       100
few_shot_prompt        100
few_shot_CoT_prompt    100
Name: count, dtype: int64

In [11]:

# # Create the three new columns based on 'Prompt Name'
# df_pivoted = df.pivot(index='Row Number', columns='Prompt Name', values='Response')

# # Join pivoted DataFrame back to original to preserve other columns
# df = df.set_index('Row Number').join(df_pivoted).reset_index()

# df.head()

In [12]:
# import re

# # Extract 'tweet_text' from 'Input' column and store it in 'tweet_text' column
# df['tweet_text'] = df['Input'].apply(lambda x: re.search(r"'tweet_text': '(.*?)', 'key_features':", x).group(1))

# print(df[['Row Number', 'tweet_text']])

In [13]:
import pandas as pd


# Check for missing values in each column
missing_values = df.isna().sum()

# Reshape dataframe to have separate columns for each 'Prompt Name'
pivoted_df = df.pivot_table(index='Row Number', columns='Prompt Name', values='Response', aggfunc='first')

# Rename columns to match the desired ones
pivoted_df.columns = ['zero_shot_prompt', 'few_shot_prompt', 'few_shot_CoT_prompt']

# If you want to merge this back into the original dataframe, use:
df = df[['Row Number', 'Input']].drop_duplicates().set_index('Row Number').join(pivoted_df)

In [14]:
df

,Input,zero_shot_prompt,few_shot_prompt,few_shot_CoT_prompt
Row Number,,,,
621,"{'post_id': '1179074562870386688_twitter', 'tw...",The text is labeled as hate speech due to the ...,This statement is classified as hate speech be...,The text you provided falls into the category ...
622,"{'post_id': '16535198_gab', 'tweet_text': 'let...",The text is classified as hate speech due to i...,The tweet you wrote has been classified as hat...,The text provided falls into the category of h...
623,"{'post_id': '1179039577777983488_twitter', 'tw...",The text is classified as normal because it do...,"The given text has been labeled as ""normal"" be...",This tweet is categorized as normal because it...
624,"{'post_id': '1178942851696283649_twitter', 'tw...",The text falls into the normal category for se...,Explanation: This tweet has been labeled as no...,This tweet falls into the normal category beca...
625,"{'post_id': '23169645_gab', 'tweet_text': 'idi...",**Hate Speech**:\n- The tweet employs extremel...,This statement is classified as hate speech be...,This tweet falls into the hate speech category...
...,...,...,...,...
716,"{'post_id': '1178728443783127040_twitter', 'tw...",The text is classified as hate speech due to t...,The tweet has been labeled as hate speech beca...,"The tweet text ""fuck you raghead"" falls into t..."
717,"{'post_id': '1178852220424445952_twitter', 'tw...",**Hate Speech Analysis**:\n\n- The classificat...,The tweet has been labeled as hate speech beca...,This tweet falls into the category of hate spe...
718,"{'post_id': '13076830_gab', 'tweet_text': 'met...",The text is classified as hate speech due to i...,This tweet has been labeled as hate speech bec...,This tweet falls into the hate speech category...
719,"{'post_id': '3695492_gab', 'tweet_text': '<use...",The text is classified as **Offensive** due to...,The tweet has been labeled as offensive becaus...,"This tweet falls into the ""offensive"" category..."
720,"{'post_id': '22913175_gab', 'tweet_text': 'and...",**Hate Speech**:\n\n- The tweet text uses high...,The tweet you posted has been classified as ha...,This tweet falls into the hate speech category...

In [15]:
import re

# Define the pattern to extract tweet_text
pattern = r"'tweet_text': '(.*?)', 'key_features':"

# Extract tweet_text and save it in a new column
df['tweet_text'] = df['Input'].apply(lambda x: re.search(pattern, x).group(1) if re.search(pattern, x) else None)

In [16]:
df

,Input,zero_shot_prompt,few_shot_prompt,few_shot_CoT_prompt,tweet_text
Row Number,,,,,
621,"{'post_id': '1179074562870386688_twitter', 'tw...",The text is labeled as hate speech due to the ...,This statement is classified as hate speech be...,The text you provided falls into the category ...,this fat faggot id such a child grow up porky
622,"{'post_id': '16535198_gab', 'tweet_text': 'let...",The text is classified as hate speech due to i...,The tweet you wrote has been classified as hat...,The text provided falls into the category of h...,let masha and the bitches send that one to nig...
623,"{'post_id': '1179039577777983488_twitter', 'tw...",The text is classified as normal because it do...,"The given text has been labeled as ""normal"" be...",This tweet is categorized as normal because it...,in recent years we have frequently seen poor p...
624,"{'post_id': '1178942851696283649_twitter', 'tw...",The text falls into the normal category for se...,Explanation: This tweet has been labeled as no...,This tweet falls into the normal category beca...,<user> <user> pointing out disproportionate ra...
625,"{'post_id': '23169645_gab', 'tweet_text': 'idi...",**Hate Speech**:\n- The tweet employs extremel...,This statement is classified as hate speech be...,This tweet falls into the hate speech category...,idiot boy trudeau his somali moslem immigratio...
...,...,...,...,...,...
716,"{'post_id': '1178728443783127040_twitter', 'tw...",The text is classified as hate speech due to t...,The tweet has been labeled as hate speech beca...,"The tweet text ""fuck you raghead"" falls into t...",<user> fuck you raghead
717,"{'post_id': '1178852220424445952_twitter', 'tw...",**Hate Speech Analysis**:\n\n- The classificat...,The tweet has been labeled as hate speech beca...,This tweet falls into the category of hate spe...,<user> a rag makes her a rag head
718,"{'post_id': '13076830_gab', 'tweet_text': 'met...",The text is classified as hate speech due to i...,This tweet has been labeled as hate speech bec...,This tweet falls into the hate speech category...,met police terror attack in london quick lads ...
719,"{'post_id': '3695492_gab', 'tweet_text': '<use...",The text is classified as **Offensive** due to...,The tweet has been labeled as offensive becaus...,"This tweet falls into the ""offensive"" category...",<user> good one ricky wait till those diesel d...
720,"{'post_id': '22913175_gab', 'tweet_text': 'and...",**Hate Speech**:\n\n- The tweet text uses high...,The tweet you posted has been classified as ha...,This tweet falls into the hate speech category...,and just like you she is a welfare whore with ...

In [17]:
df.isna().sum()

Input                  0
zero_shot_prompt       0
few_shot_prompt        0
few_shot_CoT_prompt    0
tweet_text             0
dtype: int64

In [18]:
df.to_csv("LimeSurvey/LimeSurvey_data_pivoted_2.csv")

In [19]:
# Calculate the total length of responses for each row
df['total_len'] = df['zero_shot_prompt'].apply(len) + df['few_shot_prompt'].apply(len) + df['few_shot_CoT_prompt'].apply(len)

# Sort the DataFrame by the total length in descending order
df_sorted = df.sort_values(by='total_len', ascending=True)

In [20]:
df_sorted.to_csv("LimeSurvey/LimeSurvey_data_pivoted_sorted_2.csv")

In [21]:
df_sorted

,Input,zero_shot_prompt,few_shot_prompt,few_shot_CoT_prompt,tweet_text,total_len
Row Number,,,,,,
685,"{'post_id': '1142977246283599872_twitter', 'tw...","The tweet ""blue jeans white t shirt"" falls und...",Explanation: This tweet is categorized as norm...,"The text ""blue jeans white t shirt"" falls into...",blue jeans white t shirt,1235
710,"{'post_id': '19369977_gab', 'tweet_text': 'he ...","**Normal**:\n- tweet_text: ""he dindunuffin tho...",Explanation: This tweet has been labeled as no...,"Based on the given text, it appears to be a no...",he dindunuffin tho <laugh>,1356
719,"{'post_id': '3695492_gab', 'tweet_text': '<use...",The text is classified as **Offensive** due to...,The tweet has been labeled as offensive becaus...,"This tweet falls into the ""offensive"" category...",<user> good one ricky wait till those diesel d...,1728
688,"{'post_id': '17315138_gab', 'tweet_text': 'get...","**Offensive**:\n\n- The tweet text, ""get the h...",This statement is labeled as offensive because...,"The tweet ""get the honky cat"" falls into the c...",get the honky cat,1743
691,"{'post_id': '1178809032796180481_twitter', 'tw...","The provided tweet text, ""one can is enuff 😂"",...","Based on the given tweet text, it falls into t...","Based on the provided information, the tweet t...",<user> <user> one can is enuff 😩,1805
...,...,...,...,...,...,...
665,"{'post_id': '1178849684447809536_twitter', 'tw...",The text appears to express frustration regard...,Explanation: The tweet has been labeled as nor...,The text appears to fall into the normal categ...,let a get this straight i can be called a raci...,3593
641,"{'post_id': '17261158_gab', 'tweet_text': 'eve...","The text is classified as ""Offensive"" due to i...",This statement is labeled as offensive because...,"This tweet falls into the ""offensive"" category...",every time neocohens and neolibshits bomb a mo...,3674
673,"{'post_id': '23637308_gab', 'tweet_text': 'mon...",This text is classified as hate speech due to ...,This tweet is classified as hate speech becaus...,This tweet falls into the hate speech category...,monday kike nigga kike tuesday nigga kike nigg...,3903
653,"{'post_id': '15762396_gab', 'tweet_text': 'wel...",The text is classified as hate speech due to i...,This statement is classified as hate speech be...,This text falls into the hate speech category ...,welfare is a kike scam to enable niggers like ...,3953
625,"{'post_id': '23169645_gab', 'tweet_text': 'idi...",**Hate Speech**:\n- The tweet employs extremel...,This statement is classified as hate speech be...,This tweet falls into the hate speech category...,idiot boy trudeau his somali moslem immigratio...,4355

In [53]:
# Step 1: Create new columns for each 'Prompt Name' and store the corresponding 'Response'
df_wide = df.pivot(index='Row Number', columns='Prompt Name', values='Response').reset_index()

# # Step 2: Extract 'tweet_text' from the 'Input' column
# import ast

# def extract_tweet_text(input_str):
#     try:
#         input_dict = ast.literal_eval(input_str)
#         print(input_dict)
#         return input_dict.get('tweet_text', None)
#     except (ValueError, SyntaxError):
#         return None

# df['tweet_text'] = df['Input']# .apply(extract_tweet_text)

import re

# Regular expression pattern to extract the 'tweet_text' value
pattern = r"'tweet_text': '(.*?)', 'key_features':"

# Function to extract tweet_text from the row
def extract_tweet_text_from_row(row):
    match = re.search(pattern, row)
    if match:
        return match.group(1)  # Return the extracted tweet_text
    else:
        print(f"Error parsing row: {row}")
        return None

# Assuming you are applying this function to a column in a dataframe
df['tweet_text'] = df['Input'].apply(extract_tweet_text_from_row)

# Merging the extracted tweet_text with the reshaped DataFrame
df_final = pd.merge(df_wide, df[['Row Number', 'tweet_text']].drop_duplicates(), on='Row Number')

In [54]:
df_final

,Row Number,few_shot_CoT_prompt,few_shot_prompt,zero_shot_prompt,tweet_text
0,121,The text appears to be a harmless suggestion f...,The tweet has been labeled as normal because i...,"Based on the available data, this tweet appear...",team name washington warhogs team colors red w...
1,122,"The classification of this text as ""normal"" is...",This tweet has been labeled as normal because ...,This tweet falls into the normal category beca...,the same niggas that be flexing jewelry be the...
2,123,"**Offensive**:\n- tweet_text: ""tfw jews want t...",This statement is labeled offensive because it...,"The text you provided falls into the ""offensiv...",tfw jews want to ban p*rn <censored> tfw now i...
3,124,**Hate Speech**\n\nThe tweet contains a highly...,This statement is classified as hate speech be...,The tweet text falls into the category of hate...,microchip has had more nigger cocks in him tha...
4,125,This tweet falls into the **Offensive** catego...,Explanation: The tweet has been labeled normal...,"The text ""im wearing white pants and i look li...",im wearing white pants and i look like a faggot
...,...,...,...,...,...
495,616,The text is classified as normal due to its ca...,The tweet has been labeled normal because the ...,"Based on the given information, this tweet fal...",<user> <user> can not relate tho lmao i am not...
496,617,This tweet is classified as hate speech due to...,Explanation: This tweet has been labeled as no...,It appears that this tweet has been classified...,weed guys the most emotional niggas ever
497,618,The text is classified as normal due to its de...,The tweet has been labeled normal because it s...,"This tweet falls into the ""Normal"" category be...",the elders of monroe are swarming the streets ...
498,619,Based on the given text:\n\n1. **Normal**: The...,Explanation: This tweet has been labeled as no...,"Based on the available data, this tweet appear...",shout out to ol jews and ol rules
499,620,This text falls into the hate speech category ...,The text you provided has been categorized as ...,"Based on the given tweet text, it appears to f...",cause it a grimy world and niggas bout shit

In [ ]:
df_final['tweet_text'] = df_final['tweet_text'].apply(extract_tweet_text)

In [51]:
import re

# Regular expression pattern to extract the 'tweet_text' value
pattern = r"'tweet_text': '(.*?)', 'key_features':"

# Function to extract tweet_text from the row
def extract_tweet_text_from_row(row):
    match = re.search(pattern, row)
    if match:
        return match.group(1)  # Return the extracted tweet_text
    else:
        print(f"Error parsing row: {row}")
        return None

# Assuming you are applying this function to a column in a dataframe
df['tweet_text'] = df['Input'].apply(extract_tweet_text_from_row)

# Check rows where 'tweet_text' is still missing
missing_tweet_text_rows = df[df['tweet_text'].isnull()]
print(f"Rows with missing tweet_text: {missing_tweet_text_rows}")

Rows with missing tweet_text: Empty DataFrame
Columns: [Row Number, Model, Prompt Name, Input, Response, Time Taken (s), tweet_text]
Index: []

In [52]:
df

,Row Number,Model,Prompt Name,Input,Response,Time Taken (s),tweet_text
0,121,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1181224026519359490_twitter', 'tw...","Based on the available data, this tweet appear...",21.82,team name washington warhogs team colors red w...
1,121,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_prompt,"{'post_id': '1181224026519359490_twitter', 'tw...",The tweet has been labeled as normal because i...,14.56,team name washington warhogs team colors red w...
2,121,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1181224026519359490_twitter', 'tw...",The text appears to be a harmless suggestion f...,20.67,team name washington warhogs team colors red w...
3,122,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1083159533848023041_twitter', 'tw...",This tweet falls into the normal category beca...,15.31,the same niggas that be flexing jewelry be the...
4,122,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1083159533848023041_twitter', 'tw...","The classification of this text as ""normal"" is...",25.57,the same niggas that be flexing jewelry be the...
...,...,...,...,...,...,...,...
1495,619,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1103453694735966213_twitter', 'tw...","Based on the available data, this tweet appear...",16.94,shout out to ol jews and ol rules
1496,619,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1103453694735966213_twitter', 'tw...",Based on the given text:\n\n1. **Normal**: The...,14.73,shout out to ol jews and ol rules
1497,620,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_prompt,"{'post_id': '1109322805299027968_twitter', 'tw...",The text you provided has been categorized as ...,18.35,cause it a grimy world and niggas bout shit
1498,620,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,zero_shot_prompt,"{'post_id': '1109322805299027968_twitter', 'tw...","Based on the given tweet text, it appears to f...",24.40,cause it a grimy world and niggas bout shit
1499,620,Hermes-3-Llama-3.1-70B-Q5_K_S:latest,few_shot_CoT_prompt,"{'post_id': '1109322805299027968_twitter', 'tw...",This text falls into the hate speech category ...,17.56,cause it a grimy world and niggas bout shit

In [46]:
import pandas as pd
import ast
import json

# Step 1: Pivot the DataFrame to create separate columns for each 'Prompt Name'
df_wide = df.pivot(index='Row Number', columns='Prompt Name', values='Response').reset_index()

# Step 2: Extract 'tweet_text' from the 'Input' column
def extract_tweet_text(input_str):
    try:
        # Fix any list-like string formatting in 'key_features'
        input_str = input_str.replace("'", '"')  # Normalize single quotes to double quotes
        input_str = input_str.replace('[', '[').replace(']', ']')  # Ensure proper list formatting
        key_features_str = key_features_str.replace("'", '"')

        # Safely parse the string into a Python dictionary
        input_dict = ast.literal_eval(input_str)

        return input_dict.get('tweet_text', None)
    except (ValueError, SyntaxError, json.JSONDecodeError):
        # Fallback: Try parsing with json.loads
        try:
            input_dict = json.loads(input_str)
            return input_dict.get('tweet_text', None)
        except json.JSONDecodeError:
            print(f"Error parsing row: {input_str}")
            return None

# Ensure consistent quotes before parsing
df['Input'] = df['Input'].str.replace('"', "'", regex=False)

# Apply the function to extract 'tweet_text'
df['tweet_text'] = df['Input'].apply(extract_tweet_text)

# Step 3: Merge the reshaped DataFrame with the extracted 'tweet_text'
df_final = pd.merge(
    df_wide,
    df[['Row Number', 'tweet_text']].drop_duplicates(),
    on='Row Number',
    how='left'  # Ensure no rows are dropped
)

# Debug any rows where 'tweet_text' is missing
missing_tweet_text_rows = df_final[df_final['tweet_text'].isnull()]
print("Rows with missing 'tweet_text':", missing_tweet_text_rows)

UnboundLocalError: cannot access local variable 'key_features_str' where it is not associated with a value

In [47]:
import pandas as pd
import ast

# Step 1: Normalize and safely parse the 'key_features' column
def parse_key_features(key_features_str):
    try:
        # Fix any list-like string formatting, convert it to proper list
        key_features_str = key_features_str.replace("'", '"')  # Normalize quotes
        key_features_list = ast.literal_eval(key_features_str)  # Safely parse as a list
        return key_features_list
    except (ValueError, SyntaxError, TypeError):
        print(f"Error parsing key_features: {key_features_str}")
        return []

# Step 2: Parse the input column correctly
def extract_tweet_text(input_str):
    try:
        # Replace single quotes with double quotes and parse the input string
        input_dict = ast.literal_eval(input_str.replace("'", '"'))
        return input_dict.get('tweet_text', None)
    except (ValueError, SyntaxError, TypeError):
        print(f"Error parsing row: {input_str}")
        return None

# Assuming your dataframe is called `df`
df['key_features'] = df['key_features'].apply(parse_key_features)

# Step 3: Apply the function to extract 'tweet_text' from the 'Input' column
df['tweet_text'] = df['Input'].apply(extract_tweet_text)

# Check any rows where 'tweet_text' is still missing
missing_tweet_text_rows = df[df['tweet_text'].isnull()]
print(f"Rows with missing tweet_text: {missing_tweet_text_rows}")

KeyError: 'key_features'